<!-- File: src/app/app.component.html -->
<ion-app>
  <!-- Mobile menu -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list lines="none" inset="true">
        <ion-item routerLink="/">Home</ion-item>
        <ion-item routerLink="/ships">Ships</ion-item>
        <ion-item routerLink="/stations">Stations</ion-item>
        <ion-item routerLink="/logistics">Logistics</ion-item>
        <ion-item routerLink="/engineering">Engineering</ion-item>
        <ion-item routerLink="/codex">Codex</ion-item>
        <ion-item routerLink="/media">Media</ion-item>
        <ion-item routerLink="/updates">Updates</ion-item>
        <ion-item routerLink="/star-map">Star Map</ion-item>
        <ion-item routerLink="/contact">Contact</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Header + routed content -->
  <vds-header></vds-header>
  <ion-router-outlet id="main-content">
    <ion-content></ion-content>
  </ion-router-outlet>
  <vds-footer></vds-footer>
</ion-app>
